.animations-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 80px 80px;
    gap: 100px;
}

/* COLUMNAS */
.left {
    flex: 0.1;
}

.center {

    flex: 1.4;
}

.right {
    flex: 0.8;
}

/* IZQUIERDA */
.left {
    margin-top: auto;
    
    flex-direction: column;
    align-items: center;
}

.left video {
    width: 280px;
}

.label {
    margin-top: 20px;
    font-size: 100px;

}

/* CENTRO */
.center {
    padding: 0 40px;
    top: 45px;;
}

.center ul {
    list-style: disc;
    font-size: 16px;
    line-height: 1.8;
}

/* DERECHA */
.right {
    display: flex;
    justify-content: center;
}

.right video {
    width: 230px;
}

/* ========================= */
/* 📱 TABLET */
@media (max-width: 1024px) {

    .animations-section {
        padding: 60px 40px;
        gap: 30px;
    }

    .center {
        padding: 0 20px;
    }

    .left video,
    .right video {
        width: 220px;
    }

    .center ul {
        font-size: 18px;
    }
}

/* ========================= */
/* 📱 MÓVIL */
@media (max-width: 768px) {

    .animations-section {
        flex-direction: column; /* 🔥 CLAVE */
        text-align: center;
        padding: 40px 20px;
    }

    .left,
    .center,
    .right {
        flex: unset;
        width: 100%;
    }

    .center {
        padding: 20px 0;
    }

    .left video,
    .right video {
        width: 200px;
    }

    .center ul {
        list-style-position: inside;
        font-size: 16px;
    }
}