.tv-wrapper {
  width: 100%;
  height: calc(90vh - 10px); /* Ajusta si tienes navbar */
  overflow: hidden;
  background: black;
  position: relative;
}

.tv-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}