/* CONTENEDOR */
.crs-container {
  width: 100%;
  overflow: hidden;
}

/* HERO */
.crs-hero {
  position: relative;
  width: 100%;
  height: 520px;
  overflow: hidden;
}

/* VIDEO BASE */
.crs-video {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  height: 100%;

  object-fit: cover;
  transform: translate(-50%, -50%);
}

/* MOSTRAR SOLO DESKTOP POR DEFECTO */
.crs-video-desktop {
  display: block;
}

.crs-video-mobile {
  display: none;
}



/* TEXTO */
.crs-hero-content {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  padding: 0 20px;
}

.crs-hero-content h1 {
  font-size: 42px;
  font-weight: 900;
}

.crs-hero-content p {
  font-size: 16px;
}

/* INFO */
.crs-info {
  background: linear-gradient(180deg, #0f5c74 0%, #000 100%);
  padding: 60px 10%;
  color: white;
}

.crs-info h2 {
  font-size: 22px;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.crs-arrow {
  font-size: 30px;
}

.crs-info p {
  max-width: 900px;
  font-size: 14px;
  line-height: 1.6;
}

/* =========================
   RESPONSIVE (CAMBIO CLAVE)
========================= */
@media (max-width: 768px) {

  .crs-hero {
    height: 65vh;
    min-height: 320px;
    max-height: 500px;
  }

  /* OCULTAR DESKTOP */
  .crs-video-desktop {
    display: none;
  }

  /* MOSTRAR MOBILE */
  .crs-video-mobile {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .crs-hero-content h1 {
    font-size: 26px;
  }

  .crs-hero-content p {
    font-size: 14px;
  }

  .crs-info {
    padding: 40px 6%;
  }

  .crs-info h2 {
    font-size: 18px;
  }

  .crs-arrow {
    font-size: 22px;
  }

  .crs-info p {
    font-size: 13px;
  }
}