.services-section {
  padding: 100px 60px;
  background: #fff;
}

.services-section h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 60px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.service-card {
  position: relative;
  height: 420px;
  border-radius: 18px;
  background: linear-gradient(180deg, #00b0ff, #0a1a6a);
  box-shadow: 0 12px 30px rgba(0,0,0,.25);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-card img {
  width: 150%;
  object-fit: contain;
}

/* etiqueta blanca */
.service-label {
  position: absolute;
  bottom: 15px;
  background: #fff;
  padding: 10px 16px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 6px;
  text-align: center;
}

/* tooltip */
.service-tooltip {
  position: absolute;
  bottom: -90px;
  background: #248ebe;
  color: #fff;
  padding: 16px;
  border-radius: 10px;
  width: 240px;
  font-size: 14px;
  opacity: 0;
  transform: translateY(10px);
  transition: all .3s ease;
  pointer-events: none;
}

.service-card:hover .service-tooltip {
  opacity: 1;
  transform: translateY(0);
}

/* flechita */
.service-tooltip::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent #094f70 transparent;
}

/* responsive */
@media (max-width: 1200px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}



.titulo {
  font-size: 38px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.flecha {
top:20px;
  color: #000000;
  margin-right: 20px;
}
