.porque-elegirnos {
  background: #fff;
  padding: 80px 20px;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.titulo {
  font-size: 38px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.flecha {
  font-size: 50px;
}

.descripcion {
    
  max-width: 1100px;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 20px;
  color: #000000;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.card-item {
  text-align: center;
  padding:27px 18px;
  border: 2px solid #7b8186;
  border-radius: 8px;
  transition: all 0.3s ease;
  background: #fff;
  
}

.card-item img {
  width: 80px;
  height: 80px;
  margin-bottom: 25px;
  transition: transform 0.5s ease;
  object-fit: contain;
}

.card-item h4 {
  background: #1e40af;
  color: #fff;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
}

.card-item p {
      text-align: left;
  font-size: 14px;
  line-height: 1.6;
  color: #000000;
  padding: 0 10px;
}

/* HOVER */
.card-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}


.card-item:hover img {
  transform: scale(1.15);
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .titulo {
    font-size: 28px;
  }
  
  .descripcion {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}