/* =========================
NAVBAR BASE
========================= */
.navbar {
position: fixed;
top: 0;
width: 100%;
height: 75px;
padding: 0 40px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;


background: linear-gradient(
to bottom,
rgba(0, 0, 0, 0.85),
rgba(0, 0, 0, 0.45),
transparent
);


color: white;
}


/* =========================
LOGO
========================= */
.navbar-left {
display: flex;
align-items: center;
}


.brand-logo {
height: 45px;
cursor: pointer;
}


/* =========================
LINKS
========================= */
.nav-links {
list-style: none;
display: flex;
align-items: center;
margin: 0;
padding: 0;
}


.nav-links li {
position: relative;
padding: 0 32px;
font-size: 15px;
font-weight: 600;
letter-spacing: 1.6px;
color: rgba(255, 255, 255, 0.9);
cursor: pointer;
}


/* =========================
SEPARADORES VERTICALES
========================= */
.nav-links li:not(:last-child)::after {
content: "";
position: absolute;
right: 0;
top: 15%;
height: 70%;
width: 2px;
background: rgba(255, 255, 255, 0.45);
}


/* =========================
LUZ SUPERIOR (HALO)
========================= */
.nav-links li::before {
content: "";
position: absolute;
top: -14px;
left: 50%;
transform: translateX(-50%);
width: 70px;
height: 18px;


background: radial-gradient(
ellipse at center,
rgba(255, 255, 255, 0.9),
rgba(255, 255, 255, 0.15),
transparent
);


opacity: 0;
filter: blur(2px);
transition: opacity 0.25s ease;
}


/* =========================
HOVER (SIEMPRE ILUMINA)
========================= */
.nav-links li:hover::before {
opacity: 1;
}


/* =========================
ACTIVO
========================= */
.nav-links li.active::before {
opacity: 1;
}