/* CONTENEDOR */
.hs-container {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

/* VIDEO */
.hs-video {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* =========================
   MOBILE AJUSTE FINO
========================= */
@media (max-width: 768px) {
  .hs-container {
    height: 70vh;
  }
}