
.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: #333;
 color: white;
 padding: 1rem;
}
navbar-left .logo {
 font-size: 1.5rem;
 font-weight: bold;
 color: white;
 text-decoration: none;
}
navbar-center .nav-links {
 list-style-type: none;
 display: flex;
}
navbar-center .nav-links li {
 margin-right: 1rem;
}
navbar-center .nav-links a {
 color: white;
 text-decoration: none;
}
navbar-right .user-icon {
 color: white;
}